<ngx-datatable
        class="material fullscreen"
        style="top: 10px"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="50"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [rows]="rows">
        <ngx-datatable-column name="Emp Id" [width]="80" ></ngx-datatable-column>
        <ngx-datatable-column name="First Name" [width]="300"></ngx-datatable-column>
        <ngx-datatable-column name="Last Name" [width]="300"></ngx-datatable-column>
        <ngx-datatable-column name="Date Of Birth" [width]="300"></ngx-datatable-column>
        <ngx-datatable-column name="Gender"></ngx-datatable-column>
        <ngx-datatable-column name="Department"></ngx-datatable-column>
      </ngx-datatable>